* {
    margin: 0;
    box-sizing: border-box  ;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
div.header-banner-group{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    gap: 80px;
    padding-bottom: 120px;
}

div.header{
    display: flex;
    color: #f9faf8;
    padding: 16px 15rem;
    align-items: center;

}

div.header div.logo{
    font-size: 24px;
    font-weight: bold;
    flex: 1 0 auto;
    flex-wrap: nowrap;
}

div.header div.navigation-links ul{
    flex: 1 0 auto;
    padding-inline-start: 0;
    display: flex;
    gap: 18px;
    font-size: 18px;
    font-weight: normal;
}

div.header div.navigation-links ul li{
    display: flex;
    flex: 1 0 auto;
    flex-wrap: nowrap;
}

div.header a{
    text-decoration: none;
    list-style-type: none;
    color: #E5E7EB;
}

div.banner{
    display: flex;
    flex: 1 1 auto;
    padding: 0 15rem;
    gap: 30px;
}

div.banner div.text-group{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 7px;

}

div.banner p.hero-text{
    display: flex;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

div.banner p.text{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 200;
}

div.banner button{
    background-color: #3882f6;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 0px;
    max-width: 135px;
}

div.img-placeholder{
    display: flex;
    background-color: #6D747D;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 100px;
}

div.random-info-section{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    padding: 30px 30px 80px 30px;
}

div.random-info-section h1.info-header-text{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 30px;
}

div.img-subtexts-group{
    display: flex;
    flex: 1 1 auto;
    gap: 30px;
}
div.img-subtexts-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

p.img-subtext{
    color: #1f2937c0;
    font-size: 16px;
    text-align: center;
}

div.img{
    height: 130px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid #3882f6;

    margin-bottom: 10px;
}

div.testimonials-section{
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: #E5E7EB;
    align-items: center;
    padding: 100px 0px
}
div.quotes-content{
    max-width: 780px;
}
p.quote{
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 10px;
}
p.author{
    color: #1F2937;
    font-weight: 900;
    font-size: 24px;
    text-align: right;
    padding-right: 35px;
}

div.call-to-action-section{
    display: flex;
    justify-content: center;
}

div.cta-content-box{
    display: flex;
    flex: auto;
    column-gap: 50px;
    justify-content: center;
    background-color: #3882f6;
    padding: 50px 125px;
    margin: 100px auto;
    max-width: 900px;
    border-radius: 10px;
}

p.cta-hero-text{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

p.cta-subtext{
    font-size: 16px;
    color: #f9faf8;
    font-weight: 300;
}

button.cta-button{
    color: #f9faf8;
    background-color: #3882f6;
    border: solid 2px #f9faf8;
    border-radius: 8px;
    padding: 8px 30px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

div.cta-button-box{
    display: flex;
    align-items: center;
}

div.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 40px 0px;
    font-size: 18px;
    gap: 8px;
}